header h1 img{
    width: 250px;
}

header{
    background-color: rgb(245, 237, 200);
    padding: 20px 0;
}
nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: black;
    font-size: 20px;
    text-decoration: none;
}

.caixa{
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 100px;
    right: 0;
}

nav a:hover {
    color: blueviolet;
    text-decoration: underline;
}

.servicos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.servicos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding:30px 20px;
    box-sizing: border-box;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
}

.servicos li:hover {
    border-color: blueviolet;

}

.servicos li:active {
    border-color: aqua;
}

.servicos li:hover h2 {
    font-size: 34px;
}

.servicos li img {
    width: 200px;
}
 .servicos h2{
    font-size: 30px;
    font-weight: bold;
 }

 .servservico-descricao {
    font-size: 18px;
 }

.servico-preco {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

footer{
    background-color: rgb(245, 237, 200);
    text-align: center;
    padding: 40px 0;
    }

footer img {
    width: 250px;
}

.copyright {
    color: #000;
    font-size: 13px;
    margin: 20px 0 0;
    
}

main {
    width: 940px;
    margin: 0 auto;
}

form {
    margin: 40px 0;
}

form label, form p{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;

}

.input-padrao{
display: block;
margin: 0 0 20px;
padding: 10px 25px;
width: 50%;
}

.checkbox{
    margin: 20px 0;
}
.enviar{
    width: 40%;
    padding: 15px 0;
    background-color: rgb(84, 190, 240);
    color: white;
    font-weight: bold;
    font-size: 10px;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}
.enviar:hover{
    background-color: rgb(42, 85, 105);
    transform: scale(1.2);
}

table {
    margin: 20px 0  40px;
}

thead {
    background-color: rgb(84, 190, 240);
    color: white;
}

td, th {
    border: 1px solid black;
    padding: 8px 15px;
}

/* css da pagina principal*/

#banner {
    width:100%;
}

.principal {
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
}